*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F2F2F2;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar a{
  color: white;
  text-decoration: none;
}

.carousel{
  width:90%;
  height:auto;
  margin: auto;
  margin-top: 10px;
}

.introduction{
  width: 90%;
  height: auto;
  margin: 0px auto;
  text-align: left;
  padding: 10px;
}

.introduction h1{
  font-size: 4.5vh;
  margin: 20px;
  font-weight: lighter;

}

.introduction h5{
  font-size: 4.5vh;
  color: black;
  padding: 10px;
  font-weight: lighter;

}

.list{
  width: 100%;
  height: auto;
  
}

.list .card{
  display: inline-block;
  vertical-align: middle;
  width: 18rem;
  margin: 10px;
}

.card-title{
  text-align: left;
}
.card-text{
  text-align: left;
}

.card-image img{
  width: 200px;
  height: auto;
  object-fit: contain;
}

.single-movie{
  width: 85%;
  margin: 30px auto;
  height: auto;
  box-shadow: 5px 5px 4px 4px rgb(213, 210, 210);
  border-radius: 10px;
  overflow: hidden;
  
}

.single-movie .image-container{
  display: block;
  float: left;
  width: 30%;
  padding: 10px;
  overflow: hidden;
}

.single-movie .image-container img{
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.single-movie .text-container{
  display: block;
  float: left;
  padding-left: 20px;
  text-align: left;
  width: 50%;
}

.single-movie .text-container h1{
font-size: 3vw;
font-weight: bolder;
margin-top: 20px;
margin-bottom: 20px;
text-transform: uppercase;
}

.single-movie .text-container h5{
  font-size: 1.3vw;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  }

.single-movie .text-container p{
  font-size: 1.5vw;
  font-weight: lighter;
  margin: 20px auto;
  color: gray;
  }

.single-movie .text-container .genres{
  display: block;
  float: left;
  margin-right: 20px;
  text-align: left;

}

.single-movie .text-container .genres p{
font-size: 3vh;

}

.chip-container{
  width: 90%;
  height: auto;
  margin: 0px auto;
  /* border: 1px solid black; */
  justify-content: center;
}




.form{
  width: 80%;
  margin: 30px auto;
  height: auto;
  overflow: hidden;
}

.groupOne{
  display: inline-block;
  vertical-align: middle;
  
  width: 90%;
}
.groupTwo{
  display: inline-block;
  vertical-align: middle;
  width: 10%;
}

.notfound{
  width: 100%;
  height: 250px;
  padding: 50px;
  overflow: hidden;
}

.notfound p{
  width: 40%;
  margin: 0px auto;
  padding: 10px;
  font-size: 4vh;
  border-radius: 10px;
  background-color: #97ED8A;
  color: black;
  font-weight: lighter;
}

.footer{
  width: 100%;
  height: 20vh;
  background: #222222;
}

.footer h1{
  font-size: 3vh;
  letter-spacing: 0.3vw;
  color: white;
  text-align: center;
  padding-top: 5vh;
}

.footer h6{
  font-size: 1.8vh;
  letter-spacing: 0.3vw;
  color: rgb(172, 163, 163);
  text-align: center;
}

.footer p{
  letter-spacing: 0.3vw;
  color: white;
  text-align: center;
}

@media only screen and (max-width: 320px) {

  .carousel{
    width:100%;
  }

  .carousel h1{
    font-size: 2vh;
  }
  .carousel p{
  display: none;
  }

  .introduction h1{
    font-size: 4.5vh;
    margin: 20px;
    font-weight: lighter;
  
  }
  
  .introduction h5{
    font-size: 4.5vh;
    color: black;
    padding: 10px;
    font-weight: lighter;
  
  }

  .single-movie{
    width: 100%;
  }

  .single-movie .image-container{
    display: block;
    float: left;
    width: 100%;
    padding: 10px;
    overflow: hidden;
  }
  
  .single-movie .image-container img{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .single-movie .text-container{
    display: block;
    float: left;
    padding-left: 20px;
    text-align: left;
    width: 50%;
  }

  .single-movie .text-container h1{
    font-size: 2.5vh;
  }

  .single-movie .text-container h5{
    font-size: 1.3vw;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    }
  
  .single-movie .text-container .genres{
    display: block;
    float: left;
    margin-right: 20px;
    text-align: left;
  
  }

  .form{
    width: 100%;
    margin: 30px auto;
    height: auto;
    overflow: hidden;
  }
  
  .groupOne{
    display: inline-block;
    vertical-align: middle;
    
    width: 70%;
  }
  .groupTwo{
    display: inline-block;
    vertical-align: middle;
    width: 30%;
  }
  
  .notfound{
    width: 100%;
    height: 250px;
    padding: 50px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 768px) {

  

  .carousel{
    /* width:90%; */
    height:auto;
    margin: auto;
    margin-top: 10px;
  }

  .carousel h1{
    font-size: 2.8vh;
  }

  .carousel p{
    display: none;
  }

  .introduction h1{
      font-size: 2.5vh;
      /* margin: 20px; */
      font-weight: lighter;
    
    }
    
  .introduction h5{
      font-size: 2.5vh;
      color: black;
      padding: 10px;
      font-weight: lighter;
    
  }

  .notfound p{
    width: 100%;
    font-size: 2.4vh;
  }

  .single-movie{
    width: 90%;
  }

  .single-movie .image-container{
    display: block;
    float: left;
    width: 100%;
    padding: 10px;
    overflow: hidden;
  }
  
  .single-movie .image-container img{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .single-movie .text-container{
    display: block;
    float: left;
    padding-left: 20px;
    text-align: left;
    width: 100%;
  }

  .single-movie .text-container h1{
    font-size: 4vh;
  }

  .single-movie .text-container h5{
    font-size: 2.8vh;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    }

  .single-movie .text-container p{
    font-size: 1.5vh;
  }
  
  .single-movie .text-container .genres{
    display: block;
    float: left;
    margin-right: 20px;
    text-align: left;
  
  }

  .form{
    width: 90%;
    margin: 30px auto;
    height: auto;
    overflow: hidden;
  }
  
  .groupOne{
    display: inline-block;
    vertical-align: middle;
    
    width: 70%;
  }
  .groupTwo{
    display: inline-block;
    vertical-align: middle;
    width: 30%;
  }
  
  .notfound{
    width: 100%;
    height: 250px;
    padding: 50px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 1200px) {

  .carousel{
    /* width:90%; */
    height:auto;
    margin: auto;
    margin-top: 10px;
  }

  .carousel h1{
    font-size: 3.1vh;
  }

  .carousel p{
    display: none;
  }

  .introduction h1{
    font-size: 2.5vh;
    /* margin: 20px; */
    font-weight: lighter;
  
  }
  
.introduction h5{
    font-size: 2.5vh;
    color: black;
    padding: 10px;
    font-weight: lighter;
  
}

.notfound p{
  width: 100%;
  font-size: 2.4vh;
}

.single-movie{
  width: 90%;
}

.single-movie .image-container{
  display: block;
  float: left;
  width: 100%;
  padding: 10px;
  overflow: hidden;
}

.single-movie .image-container img{
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.single-movie .text-container{
  display: block;
  float: left;
  padding-left: 20px;
  text-align: left;
  width: 100%;
}

.single-movie .text-container h5{
  font-size: 2.5vh;
}

.single-movie .text-container h1{
  font-size: 4vh;
}

.single-movie .text-container p{
  font-size: 2.5vh;
}

.single-movie .text-container .genres{
  display: block;
  float: left;
  margin-right: 20px;
  text-align: left;

}
}

